{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <form class="col s12 m6 offset-m3" method="post" action="" role="form" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="input-field col s12">
          {{ form.name(placeholder="昵称") }}
        </div>
        <div class="input-field col s12">
          {{ form.location(placeholder="地址") }}
        </div>
        <div class="input-field col s12">
          {{ form.about_me(placeholder="个人介绍") }}
        </div>
          <div class="input-field col s12" type="file">
            {{ form.avatar() }}
          </div>
        <div class="input-field col s12">
          {{ form.submit(class_="btn waves-effect waves-light pink darken-4") }}
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  {{ super() }}
  <script>
    {% include '_flashed_messages.html' %}
    $(".button-collapse").sideNav();
    $(document).ready(function() {
      $('.slider').slider({full_width: true});
      $('.collection-header').addClass('animated slideInDown');
      $('.collection-item').addClass('animated slideInUp');
      {#      $('ul.tabs').tabs();#}
      $('ul.tabs').tabs('select_tab', 'tab_id');
    });
  </script>
{% endblock scripts %}

{% block footer %}
  {{ super() }}
{% endblock footer %}