{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12 m5 offset-m1" style="margin-top: 30px;">
        <form method="post" action="" role="form">
          {{ form.csrf_token }}
          <div class="form-group required">
            <div class="input-field col s12">
              {{ form.email() }}
              <label for="email">Username</label>
            </div>
          </div>
          <div class="form-group required">
            <div class="input-field col s12">
              {{ form.password() }}
              <label for="password">Password</label>
            </div>
          </div>
          <div class="form-group required">
            <div class="input-field col s12">
              {{ form.remember_me() }}
            </div>
          </div>
          <div class="form-group required">
            {{ form.submit(class_="button button-pill button-action") }}
          </div>
        </form>
      </div>
      <div class="col s12 m5" style="margin-top: 30px;">
        <div class="collection">
          <a href="{{ weibo_uri }}" class="collection-item">
            <wb:login-button type="3,2" onlogin="login" onlogout="logout">登录按钮</wb:login-button>
          </a>
          <a href="{{ url_for('auth.weibo') }}" class="collection-item">QQ登录</a>
          <a href="{{ url_for('auth.weibo') }}" class="collection-item">微信登录</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  {{  super() }}
  <script>
    {% include '_flashed_messages.html' %}
    $(".button-collapse").sideNav();
    $(document).ready(function() {
      $('.slider').slider({full_width: true});
      $('.collection-header').addClass('animated slideInDown');
      $('.collection-item').addClass('animated slideInUp');
{#      $('ul.tabs').tabs();#}
      $('ul.tabs').tabs('select_tab', 'tab_id');
    });
  </script>
{% endblock scripts %}

{% block footer %}
  {{ super() }}
{% endblock footer %}